body {
    background-color: #55A4E9;
}

#container {
    width: 1024px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#startBattle {
    position: absolute;
    width: 30%;
    height: 60%;
    left: 35%;
    top: 35%;
}

#startBotBattle {
    position: absolute;
    width: 30%;
    height: 60%;
    left: 0;
    top: 35%;
}

#startPrivateBattle {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 0;
    top: 35%;
}

#leaveBattle {
    position: absolute;
    left: 32px;
    top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

#battleLinkButton {
    position: absolute;
    right: 32px;
    top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

#placeRandomly {
    position: absolute;
    width: 20%;
    left: 0;
    bottom: 0;
}

#resetField {
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 0;
}

#placeShips {
    position: absolute;
    width: 20%;
    right: 0;
    bottom: 0;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #55A4E9;
    margin: auto;
    padding: 48px 16px;
    border: 3px solid white;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: drop-modal;
    animation-duration: 0.3s;
}

@keyframes drop-modal {
    from {transform: translate(-50%, -100%); opacity:0}
    to {transform: translate(-50%, -50%); opacity:1}
}

.modal h1 {
    font: bold 60px/1 "Bungee", sans-serif;
    color: white;
    text-shadow: 2px 3px #288ce3;
    margin-top: 8px;
    margin-bottom: 32px;
}

.modal a {
    font: 24px/1 "Bungee", sans-serif;
    color: white;
    margin-bottom: 32px;
}

.button-1 {
    display: block;
    padding: 50px 25px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font: bold 50px/1 "Kanit", sans-serif;
    overflow: hidden;
    background-color: transparent;
    border: 6px solid white;
    border-radius: 8px;
    transition: all 0.1s ease;
}
.button-1:hover {
    background-color: white;
    color: #0E83CD;
}
.button-1:active {
    transform: scale(1.1)
}

.button-2 {
    display: block;
    padding: 20px 10px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font: bold 25px/1 "Kanit", sans-serif;
    overflow: hidden;
    background-color: transparent;
    border: 6px solid white;
    border-radius: 8px;
    transition: all 0.1s ease;
}
.button-2:hover {
    background-color: white;
    color: #0E83CD;
}
.button-2:active {
    transform: scale(1.1)
}

.title-1 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font: bold 150px/1 "Bungee", sans-serif;
    text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3, 5px 10px #288ce3, 6px 12px #288ce3, 7px 14px #288ce3, 8px 16px #288ce3;
}

.title-2 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font: bold 70px/1 "Bungee", sans-serif;
    text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3, 5px 10px #288ce3;
    letter-spacing: 4px;
}

.title-2.active {
    animation: title-2-vibrate 0.5s infinite;
}

@keyframes title-2-vibrate {
    0% {transform: scale(1.0)}
    50% {transform: scale(1.05)}
    100% {transform: scale(1.0)}
}

.loader-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font: bold 54px/1 "Bungee", sans-serif;
    text-shadow: 1px 2px #288ce3, 2px 4px #288ce3;
    letter-spacing: 1px;
}

.field {
    border: 6px solid white;
    border-radius: 8px;
}

.field-placing {
    position: absolute;
    top: 25%;
    left: 14%;
}

.fleet-placing {
    position: absolute;
    top: 25%;
    right: 14%;
}

.field-1 {
    position: absolute;
    top: 25%;
    left: 16%;
}

.field-2 {
    position: absolute;
    top: 25%;
    right: 16%;
}

.fleet-1 {
    position: absolute;
    top: 25%;
    left: -15%;
}

.fleet-2 {
    position: absolute;
    top: 25%;
    right: -15%;
}

.field-grid {
    width: 300px;
    height: 300px;

    background-color: #288ce3;

    display: grid;
    grid-template-columns: repeat(auto-fill, calc(100% / 10));
    grid-auto-rows: 1fr;
}

.field-grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.field-grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.field-cell {
    display: block;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.field-cell.targeted {
    background-image: url('target.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

.field-cell.empty {
    background-image: url('dot.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

.field-cell.hit {
    background-image: url('flame.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.left-cell-label {
    position: relative;
    left: -150%;
    color: white;
    text-align: right;
}

.ship {
    font-size: 0;
    display: inline-block;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 0 0 3px white;
}

.field-placing .ship:hover,
.field-placing .ship.selected,
.fleet-placing .ship:hover,
.fleet-placing .ship.selected,
.field-1 .ship:hover,
.fleet-1 .ship:hover {
    box-shadow: 0 0 0 3px #c9ff3c;
}

.ship.invalid {
    box-shadow: 0 0 0 3px #ff7545;
}

.ship.preview:not(.invalid) {
    box-shadow: 0 0 0 3px #94C6F1;
}

.ship.preview.invalid .ship-cell {
    background-color: rgba(255, 100, 100, 0.2);
}

.ship-cell {
    display: inline-block;
    width: 28px;
    height: 28px;
    color: white;
}

.ship.vertical .ship-cell {
    display: block;
}

.ship.placed .ship-cell {
    background-image: url('check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.ship.sunk .ship-cell {
    background-image: url('flame.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.field .ship {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
}

.fleet .ship {
    margin: 16px 16px;
}

.fleet .ship-cell {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
}

.revealable {
    visibility: hidden;
}

.revealable.revealed {
    visibility: visible;
}
